.logo {
    width: 100px;
    display: inline-block;
}
.logo img {
    width: 100%;
    height: auto;
}
.navbar-expand .navbar-nav .nav-link{
    position: relative;
}

.navbar-expand .navbar-nav .nav-link .badge-danger{
    margin: 0;
}

.navbar-expand .navbar-nav .nav-link .badge{
    position: absolute;
    top: -8px;
    right: 0px;
    padding: 5px;
    font-size: 10px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
.navbar-expand .navbar-nav .nav-link i{
    font-size: 20px;
}
.card{
    border-radius: 0;
    border: none;
}
.card .text-xs {
    color: white !important;
    font-size: 14px;
}
.card .h5 {
    color: #fafafa !important;
    font-size: 25px;
}
button#sidebarToggleTop {
    font-size: 28px;
    line-height: normal;
    padding: 0;
    height: auto;
}
#wrapper #content-wrapper {

    transition: 0.5s;
}
body#page-top.sidebar-toggled #wrapper #content-wrapper {
    width: calc(100% - 6.5rem);
}
.sidebar-dark .nav-item .nav-link:hover {
    background: linear-gradient(45deg,#0fbc7e 0%,#5fdfb1 100%)!important;
}
#marquee{
    max-height: 360px;
}
.table thead tr th {
    background: rgba(0,0,0,0.05);
    color: #333;
    font-weight: bold;
    font-size: 12px;
    padding: 10px !important;
    text-align: center;
    border-color: #ddd;

}
.table tbody tr td .badge {
    margin: 0;
    padding: 7px 6px;
    border-radius: 2px;
    opacity: 0.8;
}
.table tbody tr td{
    font-size: 12px;
    border-color: #ddd;
    color: #333;
    cursor: pointer;
}
.card div.dataTables_wrapper div.dataTables_length select {
    border-radius: 0;
    outline: none;
}
.card div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 0;
    outline: none;
}

.card .card-header button.brn {
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 3px;
}
.card-header h2.table-title {
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
}
.table tbody tr:nth-child(even), .table tbody tr:hover {
    background: rgba(0,0,0,0.02);
}
.notification_container{
    height: 360px;
    text-align: center;
}
.notification_container ul {
    margin: 0;
    padding: 0 15px;
    list-style: none;
    width: 100%;
 
}

.time span {
    color: #378ba8;
    font-size: 11px;
}
.Scheduled {
    width: 49%;
    display: inline-block;
}

/* start css by rahul */
.cancel {
    color: #ec6e62 !important;
    text-align: center;
}
.details {
    margin-bottom: 5px;
}
.details label {
    font-size: 15px;
    color: #2d2d2d;
    margin: 0;
}
.details span {
    color: #888;
    font-size: 14px;
}
ul.details li {
    font-size: 15px;
    color: #888;
    line-height: 27px;
    position: relative;
    padding-left: 15px;
}
ul.details li:after {
    width: 6px;
    height: 6px;
    background: #888;
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    border-radius: 50%;
}
ul.details{
   margin:0;
   list-style: none;
   padding: 0;
}
.min-height {
    min-height: 265px;
}
form.form_main label {
    font-size: 15px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.form_main input, form.form_main select, form.form_main textarea {
    border-radius: 0;
}
.custom-file-label{
    border-radius: 0;
}
.custom-file-label::after{
    border-radius: 0;
}
.clinical_details tr td {
    color: #888 !important;
    font-size: 13px !important;
}
.clinical_details th {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.saveBtn {
    padding: 10px 30px !important;
    width: auto !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: #4e73df !important;
    color: white !important;
}
.recent {
    font-size: 15px !important;
}
.min_height_col {
    min-height: 407px;
}
.details h6 {
    font-size: 14px;

}
.midd-content table tr td {
    border: solid 1px #ddd;
    font-size: 14px;
    padding: 5px;
    color: #333;
}
.midd-content table tr td:first-child{
    font-weight: bold;
}

.notification .card-footer {
    padding: 8px 10px;
}
.notification .card-footer ul {
    padding: 0;
}
.notification .card-footer ul li {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    margin-top: 3px;
}
.notification .card-footer ul li:last-child{
    float: right;
}
.midd-content > div {
    font-size: 14px;
    margin-bottom: 5px;
}

/* start css after push code */
.required_field .form-check-label, .required_field label {
    /* margin-left: 21px; */
    font-size: 14px;
    font-size: 15px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.required_field input[type="checkbox"] {
    margin-right: 6px;
}
.required_field .form-check {
    padding-left: 15px;
}
.required_field input {
    border-radius: 0;
}
.required_field h5 {
    font-size: 18px;
    color: #13313b;
    text-decoration-line: underline;
    margin-left: 15px;
    margin-top: 10px;
}