.logo {
    width: 100%;
    display: inline-block;
    padding: 20px 10px;
    text-align: center;
}
.logo img {
    width: 100%;
    height: auto;
    max-width: 140px;
}
.navbar-expand .navbar-nav .nav-link{
    position: relative;
}

.navbar-expand .navbar-nav .nav-link .badge-danger{
    margin: 0;
}

.navbar-expand .navbar-nav .nav-link .badge{
    position: absolute;
    top: -8px;
    right: 0px;
    padding: 5px;
    font-size: 10px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
.navbar-expand .navbar-nav .nav-link i{
    font-size: 20px;
}
.card{
    border-radius: 0;
    border: none;
}
.card .text-xs {
    color: white !important;
    font-size: 14px;
}
.card .h5 {
    color: #fafafa !important;
    font-size: 25px;
}
button#sidebarToggleTop {
    font-size: 28px;
    line-height: normal;
    padding: 0;
    height: auto;
}
#wrapper #content-wrapper {

    transition: 0.5s;
}
body#page-top.sidebar-toggled #wrapper #content-wrapper {
    width: calc(100% - 6.5rem);
}
.sidebar-dark .nav-item .nav-link:hover {
    background: linear-gradient(45deg,#408aa3 0%,#288eb2 100%)!important;
}
#marquee{
    max-height: 360px;
}
.table thead tr th {
    background: rgba(0,0,0,0.05);
    color: #333;
    font-weight: bold;
    font-size: 12px;
    padding: 10px !important;
    text-align: center;
    border-color: #ddd;

}
.table tbody tr td .badge {
    margin: 0;
    padding: 7px 6px;
    border-radius: 2px;
    opacity: 0.8;
}
.table tbody tr td{
    font-size: 12px;
    border-color: #ddd;
    color: #333;
    cursor: pointer;
}
.card div.dataTables_wrapper div.dataTables_length select {
    border-radius: 0;
    outline: none;
}
.card div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 0;
    outline: none;
}

.card .card-header button.brn {
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 3px;
}
.card-header h2.table-title {
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
}
.table tbody tr:nth-child(even), .table tbody tr:hover {
    background: rgba(0,0,0,0.02);
}
.notification_container{
    height: 360px;
    text-align: center;
}
.notification_container ul {
    margin: 0;
    padding: 0 15px;
    list-style: none;
    width: 100%;
 
}

.time span {
    color: #378ba8;
    font-size: 11px;
}
.Scheduled {
    width: 49%;
    display: inline-block;
}

/* start css by rahul */
.cancel {
    color: #ec6e62 !important;
    text-align: center;
}
.details {
    margin-bottom: 5px;
}
.details label {
    font-size: 15px;
    color: #2d2d2d;
    margin: 0;
}
.details span {
    color: #888;
    font-size: 14px;
}
ul.details li {
    font-size: 15px;
    color: #888;
    line-height: 27px;
    position: relative;
    padding-left: 15px;
}
ul.details li:after {
    width: 6px;
    height: 6px;
    background: #888;
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    border-radius: 50%;
}
ul.details{
   margin:0;
   list-style: none;
   padding: 0;
}
.min-height {
    min-height: 265px;
}
form.form_main label {
    font-size: 15px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.form_main input, form.form_main select, form.form_main textarea {
    border-radius: 0;
}
.custom-file-label{
    border-radius: 0;
}
.custom-file-label::after{
    border-radius: 0;
}
.clinical_details tr td {
    color: #888 !important;
    font-size: 13px !important;
}
.clinical_details th {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.saveBtn {
    padding: 10px 30px !important;
    width: auto !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: #4e73df !important;
    color: white !important;
}
.recent {
    font-size: 15px !important;
}
.min_height_col {
    min-height: 407px;
}
.details h6 {
    font-size: 14px;

}
.midd-content table tr td {
    border: solid 1px #ddd;
    font-size: 14px;
    padding: 5px;
    color: #333;
}
.midd-content table tr td:first-child{
    font-weight: bold;
}

.notification .card-footer {
    padding: 8px 10px;
}
.notification .card-footer ul {
    padding: 0;
}
.notification .card-footer ul li {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    margin-top: 3px;
}
.notification .card-footer ul li:last-child{
    float: right;
}
.midd-content > div {
    font-size: 14px;
    margin-bottom: 5px;
}

/* start css after push code */
.required_field .form-check-label, .required_field label {
    /* margin-left: 21px; */
    font-size: 14px;
    font-size: 15px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.required_field input[type="checkbox"] {
    margin-right: 6px;
}
.required_field .form-check {
    padding-left: 15px;
}
.required_field input {
    border-radius: 0;
}
.required_field h5 {
    font-size: 15px;
    color: #13313b;
    text-decoration-line: underline;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 600;
}   
.capacity{
    margin-top: 10px;
}
.capacity strong {
    width: 80px;
}
.capacity .line {
    display: inline-block;
    width: 100%;
}
.gray-line {
    display: inline-block;
    width: 90%;
    background: #ddd;
    height: 10px;
    border-radius: 50px;
    position: relative;
    vertical-align: middle;
    top: -1px;
}
.gray-line.scheduled-line_80:after {
    background: #0fbc7e;
    width: 80%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_70:after {
    background: #0fbc7e;
    width: 70%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_50:after {
    background: #288eb2;
    width: 50%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_60:after {
    background: #288eb2;
    width: 60%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_100:after {
    background: #0fbc7e;
    width: 100%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_90:after {
    background: #0fbc7e;
    width: 90%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_40:after {
    background: #ef4543;
    width: 40%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_30:after {
    background: #e8504f;
    width: 30%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_20:after {
    background: #e8504f;
    width: 20%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.gray-line.scheduled-line_10:after {
    background: #e8504f;
    width: 10%;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    top: 0;
    height: 10px;
    border-radius: 50px;
}
.specialisation{
    max-width: 70%;
    flex: 70%;
}
.clinics-scheduled{
    max-width: 30%;
    flex: 30%;
}
.btn-group .btn {
    border: none;
    border-radius: 3px;
}

/*----------------*/

.btn:focus{
    box-shadow: none !important;
    outline: none;

}

.callendar_date {
    margin: auto;
    display: inline-block;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
.calendar_btn_header{
    text-align:center;
}
.calendar_btn_header {
    text-align: center;
    margin-bottom: 25px;
}
.event-main {
    position: relative;
}
.event {
    position: absolute;
    height: 176px;
    background: #3788d8;
    left: -12px;
    right: -12px;
    top: -12px;
    color: white;
    padding: 10px;
}
.box-icon{
    max-width: 30px;
}
.card-box {
    max-width: 20%;
    flex: 0 0 20%;
}
.action-card{
    background: linear-gradient(45deg, #12a6b0, #6dc7cd) !important;
    border-left: solid 0.25rem #12a6b0 !important;
}
button.btn.month {
    border: solid 1px rgba(221, 221, 221, 0.7);
    margin-right: 10px;
    padding: 0 0px 0 10px;
}
button.btn.month i.fa.fa-angle-down {
    border-left: solid 1px #ddd;
    line-height: 21px;
    padding: 6px;
    margin-left: 10px;
}
.event-header ul{
    list-style: none;
    padding: 0;
}
.event-header ul li{
    margin-bottom: 5px;
}
.card-header a.btn {
    padding: 5px 10px;
    border-radius: 2px;
}

.card-header span {
    margin-top: 9px;
    display: inline-block;
    font-size: 18px;
}
.custom-btn-color{
    background: linear-gradient(45deg,#408aa3 0%,#288eb2 100%)!important;
}
.navbar-search .btn{
    background: linear-gradient(45deg,#408aa3 0%,#288eb2 100%)!important;
}
button.btn.btn-primary.custom-btn-color.active {
    background: #185064 !important;
    border-radius: 3px 0 0px 3px;
}

.custom_check {
    position: relative;
}
.custom_check label:after {
    width: 17px;
    height: 17px;
    border: 2px solid #05aece;
    border-radius: 0;
    content: "";
    top: 3px;
    left: 0;
    /* background: green; */
    position: absolute;
}
.custom_check input[type="checkbox"]:checked + label:after {
    background: #05aece;
    content: "\f00c";
    font-family: FontAwesome;
    color: white;
    font-weight: 100;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
}
.custom_check input{
    position: absolute;
    z-index: 9;
    opacity: 0;
    width: 18px;
    height: 18px;
}
.custom_check label{
   margin-left: 6px;
}
.calendar_main .table tbody tr:nth-child(even) td {
    border-bottom-style: dotted;
}
.calendar_main .table tbody tr:nth-child(odd) td {
    border-top-style: dotted;
}
a.pluse-btn {
    background: white;
    padding: 1px 8px;
    border-radius: 4px;
    float: right;
    line-height: normal;
    text-decoration: none;
}
div#myModal2 .modal-dialog {
    max-width: 650px;
}
.mdt-cases {
    display: inline-block;
    width: 48%;
    float: left;
    border: solid 1px #ddd;
    padding: 15px;
}

.mdt-cases ul{
    max-height: 278px;
    min-height: 278px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.event-details {
    display: inline-block;
    width: 48%;
    float: right;
    border: solid 1px #ddd;
    padding: 15px;
}
div#myModal2 .modal-body ul li {
    border: solid 1px #ddd;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
}
div#myModal2 .modal-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div#myModal2 .modal-body h4{
    font-size:16px;
    color: #333;
    font-weight: bold;
}
.event-popup {
    background: #3788d8;
    margin-top: -15px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px;
    margin-bottom: 10px;
}
.event-popup li {
    border: none !important;
    line-height: normal;
    padding: 2px 0 !important;
    margin: 0 !important;
    color: #fff !important;
}